

#Home{
    
    /* font-family: 'Electrolize', sans-serif; */
    /* font-size: xx-large; */
    background: 
    
   -webkit-linear-gradient( -45deg,rgb(220, 53, 69)45%,white 0%),
   -webkit-linear-gradient(#f8f9fa , rgba(135, 60, 255, 0.0) 0%);
    height:100vh;

}

.land{
  border-radius: 50%;
  
}


/* 
.details_content {
    display: flex;
    flex-direction: column;
    margin-top: 250px;

} */
.navbar-collapse{
    display: flex;
    justify-content: flex-end ;
}
/*  
.img{
    padding-left: 30%;
  
} */
.icons{
    color: 	#df4759;
    display: flex;
    justify-content:space-evenly;
    margin-top: 7%;
}
.info{
     display: flex;
     flex-direction: column;
     
     
}

.green:hover{
    /* color: forestgreen; */
    color:#df4759 !important;
    /* transition: 0.1s; */
}

/* timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #df4759;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
#about{
    background-color:#f7f7f7 ;
}


#skills{
  background-color:#f7f7f7 ;
}

#projects{
  /* background-color:#f7f7f7 ; */
}

#testimonialS{
  background-color:#f7f7f7 ;
}

#about{
  
}

#work-and-education{
  /* background-color:#f7f7f7 ; */

}

#contact-me{
  
}
/* testimoial


body{
    background: #f1f1f1;
    overflow-x: hidden;
    
  }
  
  .aoe-title{
    text-transform: uppercase;
        text-align: center;
      font-weight: 600;
      color: #19b5fe;
  }
  
  .line{
      width: 75px;
      height: 5px;
      background-color: #f62459;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 70px;
  }
  
  /*=================================================== TESTIMONIALS SECTION ==========================================================*/
  
  .testimonials-section{
    padding: 50px 0px 50px 0px;
  }
  
  
  /*-------------------------------------------------------- Carousel ----------------------------------------------------------*/
  .col-center {
    margin: 0 auto;
    float: none !important;
  }
  .carousel {
    margin: 50px auto;
    /* padding: 0 170px; */
  }
  .carousel .item {
    color: #999;
    font-size: 14px;
      text-align: center;
    overflow: hidden;
      min-height: 290px;
  }
  .carousel .item .img-box {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
  .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
  }
  .carousel .testimonial {
    padding: 30px 0 10px;
    color: #555;
  }
  
  .carousel-inner {
      text-align: center;
  }
  
  .carousel-title{
    margin: 25px;
    color: #333;
  }
  
  .carousel-line{
    height: 1px;
    width: 600px;
    background-color: #cecece;
    margin: auto;
  }
  
  .carousel .overview { 
      font-size: 12px;
      margin-bottom: 5px;
  }
  
  .carousel .overview b {
    color: #df4759;
  }
  
  .phn-number{
      color: #555;
  }
  
  .carousel .carousel-control {
    width: 0px;
      height: 40px;
      margin-top: -20px;
      top: 50%;
    background: none;
  }
  .carousel-control i {
      font-size: 25px;
      line-height: 42px;
      position: absolute;
      display: inline-block;
      color: #000;
  }
  .carousel .carousel-indicators {
    bottom: -40px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
  }
  .carousel-indicators li { 
    background: #df4759;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
  .carousel-indicators li.active {  
    background: #555;   
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
  
  .testimonial span{
      font-size: 62px;
      position: absolute;
      top: 57%;
      left: 0;
      font-family: 'Emblema One', cursive;
      color: #333;
  }
  
  .carousel-control-prev span{
      position: absolute;
      font-size: 14px;
      top: 29%;
      left: 20px;
      color: #df4759;
      text-shadow: none;
      font-weight: bolder;
  }
  
  .carousel-control-next span{
      position: absolute;
      font-size: 14px;
      top: 29%;
      right: 20px;
      color:#df4759;
      text-shadow: none;
      font-weight: bolder;
  }
  
  /*-------------------------------------------------------- Carousel ----------------------------------------------------------*/
  
  /*=================================================== END TESTIMONIALS SECTION ==========================================================*/
  .call{
      display: flex;
      justify-content: space-evenly;
  
  }
  .call-me{
       margin-top: 20px;
  }     
.call{
    text-align: center;
}

/* footer */
.footer-basic {
    padding:15px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
 /* .bio{
     display:flex;
     justify-content:space-evenly;
     
 } */
/* 
 .row1{
     display: grid;
     justify-content: right;
     margin-top: -300px;
 } */

 /* projects */
/* 
 .card1{
  transition: border-color 1s, box-shadow 0.5s;
}
.card1:hover {
  border-color: #df4759;
  box-shadow: 0px 0px 10px 2px #df4759;
} */

/* .mun {
  margin-left: 45%;
  margin-right: 45%;
  
}

.n {
  margin-right: 24%;
 
} */

.bn {
  margin-top: 5%;

 
}
 

@media screen  and (max-width: 600px) {
  .n {
    margin-right:7%;
    text-align: center;
    
  }

  .mun {
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
  }
} 

.bm{
  justify-content:space-evenly;
}
/* 
@media screen  and (max-width: 300px) {
  .row1 {
    justify-content: center;
    text-align: center;
    
  }
  } */
/* #projects{
  height: 160vh;
}

#testimonialS{
  height: 200vh;
}

#contact-me{
  height: 160vh;
}
 */
 /* .card1{
   text-align: center;
 } */
 

 .card-img-overlay{
   background-color:rgba(0,0,0,0.6);
   
   opacity: 0;

 }
 
 .card-img-overlay:hover{
  transition-duration: 1s;
   opacity:1;
 }
/* 
 .caard{
   border-color: black;
   border-radius: 0%;
 } */

.info{
  margin-top:10px;
  border-bottom:#292b2c 1px solid ;

}



@media screen and (min-width:810px){
              #about{
                height: 100vh;
            }


            #skills{
                height: 100vh;
            }

            #projects{
              height: 100vh;
            }

            #testimonialS{
              height: 100vh;
            }

            #about{
              height: 100vh;
            }

            #work-and-education{
              height: 100vh;

            }
              
}
.projectbtn{
  display: flex;
  justify-content: end;
  padding-top:60px;

  

}

.probtn{
  display: flex;
  justify-content:initial;
  
}

@media screen and (min-width:700px){
  .typing > *{
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnim 5s steps(50);
  }
  @keyframes typingAnim {
    from {width:0}
    to {width:100%}
  }


}
@media screen and (max-width:847px){
  .navbar-collapse{
    justify-content: center;
  }
  
  .nav-link{
    text-align: center;
  }
}
