body{
    background-color: #1b2a4e;
}

.details_content {
    display: flex;
    flex-direction: row;
    margin-top: 211px;

}
.navbar-collapse{
    display: flex;
    justify-content: flex-end ;
}
 
.img{
    padding-left: 30%;
}
.icons{
    color: 	#df4759;
    display: flex;
    justify-content:space-evenly;
   

}